{% extends "layout.html"%}

{% block content %}

{% import "_macros.html" as macros%}

    <form action="/operasBas" method="POST">

        {{macros.datos("n1","ingrese el primer numero","number")}}
        {{macros.datos("nombre","Ingrese el nombre")}}
        {{macros.datos("contraseña","Ingrese la contraseña","password")}}

        <div class="mb-3">
            <label for="n2" class="form-label">Numero 2: </label>
            <input type="text" class="form-control" id="n2" name="n2">

        </div>


        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>

    {% endblock %}