{% extends "layout.html"%}

{% block content %}

{% import "_macros.html" as macros%}

    <form action="/usuarios" method="POST" novalidate>

        {{form.csrf_token}}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">


        <div class="mb-3">
            {{macros.campoNuevo(form.matricula,class="form-control")}}
        </div>
        <div class="mb-3">
            {{macros.campoNuevo(form.nombre,class="form-control")}}
        </div>
        <div class="mb-3">
            {{macros.campoNuevo(form.apaterno,class="form-control")}}
        </div>
        <div class="mb-3">
            {{macros.campoNuevo(form.amaterno,class="form-control")}}
        </div>
        <div class="mb-3">
            {{macros.campoNuevo(form.correo,class="form-control")}}
        </div>

    

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    <h1>Matricula: {{mat}}</h1>
    <h1>Nombre: {{nom}}</h1>
    <h1>Apaterno: {{apa}}</h1>
    <h1>Amaterno: {{ama}}</h1>
    <h1>Email: {{email}}</h1>

    {% endblock %}